section {
  min-height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: #e0e0e0;
  /* font-size: 100px; */
  padding: 5rem 0;
}

.footer {
  border-top: 1px solid #8a8a9a;
  margin: 0px 60px;
}

.footer-tags {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 140px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8a8a9a;
  font-size: 1rem;
}

.footer-tags a {
  text-decoration: none;
  color: #8a8a9a;
}

.footer a {
  /* transition: color 0.3s ease-in-out; */
  display: inline-flex;
  padding: 0.5rem;
  line-height: 1.2;
  transition: transform 0.4s ease, color 0.3s ease;
}

.footer a:hover {
  color: #00ffc3;
  transform: scale(1.2);
}

.footer a i {
  font-size: 1.5rem;
  /* display: inline-block; */
}

.footer a i:hover {
  transform: scale(1.2);
}

.contact-tags a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #8a8a9a;
  margin-left: 2.5rem;
}

/* media query for footer */
@media (max-width: 1250px) {
  .footer {
    margin: 0;
  }
}

@media (max-width: 1005px) {
  .footer-tags {
    margin: 30px 50px;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .contact-tags {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .contact-tags a {
    margin: 0;
  }
}

.contact-card {
  background: none;
  /* border: 1px solid #8a8a9a; */
  /* border-radius: 1rem; */
  border: none;
  color: #e0e0e0;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 24px 72px;
}

.small-card {
  border: 2px solid #8a8a9a;
  border-radius: 1rem;
  color: #e0e0e0;
  width: 50%;
  margin: 24px 12px 12px;
  padding: 24px 24px;
}

.small-card:hover {
  border: 2px solid #00cfff;
}

.small2-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0rem 12px 12px;
}

.small-2-card {
  border: 2px solid #8a8a9a;
  border-radius: 1rem;
  /* color: #e0e0e0; */
  width: 100%;
  height: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-2-card:hover {
  border: 2px solid #00cfff;
}

.small-2-card div a {
  text-decoration: none;
  color: #9ca3af;
  font-size: 19px;
}

.small-2-card div a:hover {
  /* color: #00ffc3; */
  color: #00cfff;
}

.small-2-card div span {
  font-size: 21px;
}

.info-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-field {
  font-size: 1rem;
  padding: 0 1rem 2.5rem;
}

.btn {
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.03);
}

@media (max-width: 1250px) {
  .small-2-card {
    font-size: 16px;
  }

  .small-2-card div span {
    font-size: 17px;
  }

  .small-2-card div a {
    font-size: 14px;
  }

  .contact-card {
    padding: 24px 0;
  }
}

@media (max-width: 1105px) {
  .contact-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 130px;
    margin-top: 30px;
  }

  .small-card {
    width: 100%;
    margin-bottom: 0;
  }

  .small2-card {
    width: 100%;
  }

  .small-2-card {
    width: 100%;
  }

  .small-2-card div span {
    font-size: 20px;
    line-height: 50px;
  }

  .small-2-card div a {
    font-size: 18px;
  }

  .small-2-card {
    font-size: 18px;
  }

  .connect-text {
    margin-top: 24px;
  }
}

@media (max-width: 1005px) {
  .contact-card {
    padding: 0 80px;
  }
}

@media (max-width: 910px) {
  .contact-card {
    padding: 0 30px;
  }
}

@media (max-width: 800px) {
  .contact-card {
    padding: 0;
  }
}

/* Home styling */
.home-card {
  padding: 24px 120px;
  text-align: center;
  color: #9ca3af;
  width: 100%;
}

.home-small-card {
  border: 2px solid #8a8a9a;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 2rem 0;
}

.home-small-card:hover {
  border: 2px solid #00cfff;
}

.home-intro h1 {
  color: #00ffc3;
  font-size: 4rem;
}

.home-btns a {
  background-color: #00cfff21;
  color: #00cfff;
  border: 2px solid #00cfff;
  font-size: 20px;
}

/* media query for home */
@media (max-width: 1005px) {
  .home-btns a {
    font-size: 17px;
  }

  .home-small-card h5 {
    font-size: 18px;
  }

  .home-intro h1 {
    font-size: 50px;
  }

  .home-intro h4 {
    font-size: 18px;
  }

  .home-intro h3 {
    font-size: 22px;
  }
}

@media (max-width: 1250px) {
  .home-card {
    padding: 24px 40px;
  }
}

@media (max-width: 910px) {
  .home-card {
    padding: 24px 0;
  }
}

@media (max-width: 600px) {
  .home-small-card h5 {
    font-size: 16px;
  }

  .home-intro h1 {
    font-size: 35px;
  }

  .home-intro h4 {
    font-size: 17px;
  }

  .home-intro h3 {
    font-size: 18px;
  }
}

/* media query for education */
@media (max-width: 1250px) {
  .edu-card {
    padding: 0;
  }
}

/* Educationn page styling */
.edu-card {
  padding: 12px 0;
  color: #e0e0e0;
  width: 100%;
}

.edu-small-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.left-edu {
  width: 70%;
}

.edu-small-card span {
  color: #9ca3af;
}

/* techstact and github stats */
/* .github-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 120px;
  margin-top: 2rem;
} */

.github-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 2rem; /* spacing between items */
  padding: 24px 120px;
  margin-top: 2rem;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .github-stats {
    grid-template-columns: 1fr 1fr; /* 2 columns after breakpoint */
  }
}

.git-stat {
  border: 2px solid #8a8a9a;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.git-stat i {
  color: #00cfff;
}

.git-stat:hover {
  border: 2px solid #00ffc3;
}

.git-stats-box {
  border: 2px solid #8a8a9a;
  border-radius: 1rem;
}

.git-stats-box:hover {
  border: 2px solid #00cfff;
}

.git-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  scale: 1.15;
}

.github-calendar-box {
  border: 2px solid #8a8a9a;
  border-radius: 1rem;
  padding: 2rem 2rem;
}

.github-calendar-box:hover {
  border: 2px solid #00cfff;
}

.git-card {
  padding: 2rem 7rem;
  color: #e0e0e0;
  width: 100%;
}

/* gitstats media query */

@media (max-width: 1250px) {
  .git-card {
    padding: 2rem 0rem;
  }

  .github-stats {
    padding: 24px 0;
  }
}

@media (max-width: 1150px) {
  .git-stats {
    scale: 1.1;
  }
}

@media (max-width: 1100px) {
  .git-stats {
    scale: 0.99;
  }
}

@media (max-width: 1005px) {
  .git-stats {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    scale: 1.15;
  }

  .git-stats-box {
    margin: 0 60px;
    padding: 10px 50px;
  }
}

@media (max-width: 910px) {
  .git-stats-box {
    margin: 0;
    padding: 10 50px;
  }
}

.tech-card {
  margin: 3rem 5rem 10rem;
  padding: 2rem 2rem;
  border: 2px solid #00ffc3;
  /* background-color: #00ffc309; */
  border-radius: 1rem;
}

.tech-card-item {
  background-color: #00cfff11;
  color: #00cfff;
  border: 2px solid #00cfff;
}

.tech-card-text {
  font-size: 19px;
}

.tech-card-item:hover {
  border: 2px solid #00ffc3;
  background-color: #00ffc311;
}

/* techstack media query */
@media (max-width: 1250px) {
  .tech-card {
    margin: 3rem 0rem 10rem;
  }

  .tech-card-text {
    font-size: 15px;
  }
}

/* Project media query */
@media (max-width: 1250px) {
  .proj-card {
    padding: 12px;
  }
}

@media (max-width: 1005px) {
  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 15px;
  }

  .card-contact span,
  a {
    font-size: 15px;
  }

  .card img {
    height: 180px;
  }
}

/* project styling */
.proj-card {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 36px;
}

.card {
  /* background: #00ffc311; */
  background: #00cfff11;
  /* border: 1px solid #00ffc3; */
  border: 3px solid #8a8a9a;
  color: #e0e0e0;
}

.card:hover {
  border: 3px solid #00ffc3;
}

.card-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-size: 18px;
}

.card-contact a {
  text-decoration: none;
  color: #00cfff;
}

.application {
  margin: 0px 120px 36px;
}

@media (max-width: 900px) {
  .application {
    margin: 0px 80px 36px;
  }
}

@media (max-width: 800px) {
  .application {
    margin: 0px 40px 36px;
  }

  .card-title {
    font-size: 17px;
  }

  .card-text {
    font-size: 14px;
  }

  .card-contact span,
  a {
    font-size: 14px;
  }

  .card img {
    height: 180px;
  }
}

@media (max-width: 700px) {
  .proj-card {
    padding: 36px 0;
  }

  .card-title {
    font-size: 15px;
  }

  .card-text {
    font-size: 15px;
  }

  .card-contact span,
  a {
    font-size: 15px;
  }

  .card img {
    height: 180px;
  }
}

@media (max-width: 1000px) {
  section h5 {
    font-size: 18px;
  }

  section h1{
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  section h5 {
    font-size: 17px;
  }

  section h1{
    font-size: 27px;
  }
}
